$blue: #000055
$dark-blue: #00003d
$dark-blue2: #002
$white: #ffffff
$magenta: #FF267E
$green-hover: #00F8AD
$green: #05C48A
$black: #000000
$dark: #12131C

$font-suisse-intl-reg: SuisseIntl-Regular, sans-serif
$font-suisse-intl-bold: SuisseIntl-Bold, sans-serif
$font-spaceland-it: Spaceland-Italic, sans-serif
$font-spaceland: Spaceland-reg, sans-serif

.menu-btn
  position: fixed
  z-index: 20
  top: 0
  left: 0
  width: 50px
  height: 20px

.menu-test
  position: fixed
  z-index: 20
  top: 25px
  left: 0
  display: flex
  flex-direction: column
  button
    width: 50px
    height: 20px


body.light
  background: #050734

body
  background: #050734
  overscroll-behavior: none
  -webkit-tap-highlight-color: transparent
  span
    font-family: inherit
  img
    max-width: 100%
    height: auto

.hide
  display: none !important

.info-icon
  width: 26px
  height: 25px
  background: url("https://fav-prom.com/html/football-challange-2/img/info-icon.png") no-repeat 0 0/contain
  transition: all .4s ease-in-out
  &:hover
    background: url("https://fav-prom.com/html/football-challange-2/img/info-icon-hover.png") no-repeat 0 0/contain
    cursor: pointer
.btn
  min-width: 380px
  width: fit-content
  display: inline-flex
  align-items: center
  justify-content: center
  position: relative
  transition: all .4s ease-in-out
  &:hover
    transform: scale(1.02) rotate(-2deg) translate(0, 5px)
    transform-origin: left top
  .btn-txt
    text-align: center
    color: $dark-blue2
    width: 100%
    font-size: 53px
    line-height: 77px
    padding: 4px 5px 9px 5px
    font-family: $font-spaceland-it
    background: $green
    text-transform: uppercase
    z-index: 2
    clip-path: polygon(3.34% 96.88%, 0.78% 3.13%, 98.45% 3.13%, 92.86% 83.85%, 3.34% 96.88%)
    transition: all .4s ease-in-out
    &:hover
      background: $green-hover
      cursor: pointer
  &::before, &::after
    content: ""
    display: block
    clip-path: polygon(3.34% 96.88%, 0.78% 3.13%, 98.45% 3.13%, 92.86% 83.85%, 3.34% 96.88%)
    z-index: 1
    position: absolute
    transform: translate(-50%, -50%)
  &::before
    width: 104%
    height: 115%
    background: $dark-blue2
    left: 50%
    top: 50%
  &::after
    background: #00000F
    width: 104%
    height: 115%
    z-index: 0
    left: 52%
    top: 60%

.btn-join
  pointer-events: none
  filter: grayscale(1)

.fav-page
  display: flex
  flex-direction: column
  align-items: center
  padding: 30px 0
  background: url("https://fav-prom.com/html/football-challange-2/img/bg.jpg") no-repeat 0 0/cover
  overflow: hidden
  background-size: 100vw 3400px
  picture, img
    display: block !important
  //.btn-join
  //  display: none
  .loader-wrap
    display: inherit
    flex-direction: inherit
    align-items: inherit
    width: 100%
    height: 100%
  &._easy, &._medium, &._hight
    .btn-join
      pointer-events: initial
      filter: none
      //display: block
    .btn
      pointer-events: initial
      filter: none
    .welcome
      &__scroll
        display: none
      &__timer
        bottom: 18px
        right: 240px
        animation: 2.6s showBtnDelay ease-in-out
      &__lock
        display: none
      &__open
        display: flex
      &__btn
        animation-delay: .4s
        animation: 2.3s showBtnDelay ease-in-out
        margin-bottom: 50px
      &__bottom-txt
        margin-top: auto
      &__card
        padding-bottom: 11px
        &-title
          margin-top: 0
        &-selected
          position: relative
          color: $dark-blue2
          font-size: 12px
          line-height: 15px
          font-family: $font-suisse-intl-bold
          text-transform: uppercase
          text-align: center
          z-index: 1
          width: fit-content
          padding: 7px 7px 8px 7px
          margin: 60px auto auto auto
          &::before, &::after
            content: ""
            clip-path: polygon(0.96% 3.45%, 99.04% 6.61%, 98.56% 96.55%, 2.22% 93.44%, 0.96% 3.45%)
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
          &::before
            width: 100%
            height: 100%
            background: $white
            z-index: -1
          &::after
            width: 103%
            height: 110%
            background: $dark-blue2
            z-index: -2
        &:hover
          transform: none
    //.result
    //  display: flex
    .chose
      //display: none
      &__card
        display: flex
  &._easy
    .welcome
      &__card._easy
        display: flex
    .result
      &__top._easy
        display: flex
      &__bets
        &-item
          &:nth-child(1)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/easy/icon1.png") no-repeat 0 0/contain
          &:nth-child(2)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/easy/icon2.png") no-repeat 0 0/contain
          &:nth-child(3)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/easy/icon3.png") no-repeat 0 0/contain
          &:nth-child(4)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/easy/icon4.png") no-repeat 0 0/contain
          &:nth-child(5)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/easy/icon5.png") no-repeat 0 0/contain
          &:nth-child(6)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/easy/icon6.png") no-repeat 0 0/contain
          &:nth-child(7)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/easy/icon7.png") no-repeat 0 0/contain
          &:nth-child(8)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/easy/icon8.png") no-repeat 0 0/contain
          &:nth-child(9)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/easy/icon9.png") no-repeat 0 0/contain
          &:nth-child(10)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/easy/icon10.png") no-repeat 0 0/contain
  &._medium
    .welcome
      &__card._medium
        display: flex
    .result
      &__top._medium
        display: flex
      &__bets
        &-item
          &:nth-child(1)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/medium/icon1.png") no-repeat 0 0/contain
          &:nth-child(2)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/medium/icon2.png") no-repeat 0 0/contain
          &:nth-child(3)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/medium/icon3.png") no-repeat 0 0/contain
          &:nth-child(4)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/medium/icon4.png") no-repeat 0 0/contain
          &:nth-child(5)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/medium/icon5.png") no-repeat 0 0/contain
          &:nth-child(6)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/medium/icon6.png") no-repeat 0 0/contain
          &:nth-child(7)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/medium/icon7.png") no-repeat 0 0/contain
          &:nth-child(8)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/medium/icon8.png") no-repeat 0 0/contain
          &:nth-child(9)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/medium/icon9.png") no-repeat 0 0/contain
          &:nth-child(10)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/medium/icon10.png") no-repeat 0 0/contain
  &._hight
    .welcome
      &__card._hight
        display: flex
    .result
      &__top._hight
        display: flex
      &__bets
        &-item
          &:nth-child(1)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/hight/icon1.png") no-repeat 0 0/contain
          &:nth-child(2)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/hight/icon2.png") no-repeat 0 0/contain
          &:nth-child(3)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/hight/icon3.png") no-repeat 0 0/contain
          &:nth-child(4)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/hight/icon4.png") no-repeat 0 0/contain
          &:nth-child(5)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/hight/icon5.png") no-repeat 0 0/contain
          &:nth-child(6)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/hight/icon6.png") no-repeat 0 0/contain
          &:nth-child(7)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/hight/icon7.png") no-repeat 0 0/contain
          &:nth-child(8)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/hight/icon8.png") no-repeat 0 0/contain
          &:nth-child(9)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/hight/icon9.png") no-repeat 0 0/contain
          &:nth-child(10)
            .result__bets-icon
              background: url("https://fav-prom.com/html/football-challange-2/img/result/hight/icon10.png") no-repeat 0 0/contain




.welcome
  max-width: 1250px
  min-width: 1250px
  width: 100%
  height: 740px
  display: flex
  position: relative
  background: url("https://fav-prom.com/html/football-challange-2/img/welcome/welcome-bg-desc.png") no-repeat 50% 0/cover
  background-size: 1240px 700px
  padding: 0 0 65px 85px
  @media screen and (max-width: 1050px)
    background: url("https://fav-prom.com/html/football-challange-2/img/welcome/welcome-bg-tab.jpg") no-repeat 50% 0/cover
    background-size: 695px 570px
  @media screen and (max-width: 710px)
    background: url("https://fav-prom.com/html/football-challange-2/img/welcome/welcome-bg-mob.jpg") no-repeat 50% 0/cover
    background-size: 100% 568px
  @media screen and (max-width: 374px)
    background-size: 100% 490px
  &__scroll
    width: 180px
    height: 27px
    display: flex
    align-items: center
    margin: -6px auto 30px 103px
    z-index: 3
    position: relative
    transition: transform .4s ease-in-out
    //&:hover
    //  cursor: pointer
    //  transform: scale(1.02)
    &-left
      font-family: $font-suisse-intl-bold
      font-size: 12px
      line-height: 22px
      text-transform: uppercase
      position: relative
      display: flex
      z-index: 2
      max-width: 150px
      width: 100%
      justify-content: center
      align-items: center
      height: 100%
      &-text, &-icon
        z-index: 2
        color: $black
      &-icon
        width: 20px
        height: 20px
        position: absolute
        left: 0
        top: 50%
        transform: translate(-50%, -50%)
        background: url("https://fav-prom.com/html/football-challange-2/img/welcome/welcome-scroll-icon.png") no-repeat 0 0/contain
      &::before, &::after
        content: ""
        display: block
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        clip-path: polygon(1.32% 3.45%, 98.68% 6.61%, 97.35% 96.55%, 3.04% 93.44%, 1.32% 3.45%)
      &::before
        background: $white
        z-index: 1
        width: 100%
        height: 100%
      &::after
        z-index: 0
        background: $black
        width: 102%
        height: 115%
    &-right
      width: 100%
      height: 100%
      max-width: 30px
      position: relative
      right: 2px
      //background: white
      &::before, &::after
        position: absolute
        left: 50%
        transform: translate(-50%, -50%)
        content: ""
        display: block
        clip-path: polygon(13.95% 3.57%, 97.37% 3.57%, 97.37% 96.43%, 2.26% 96.43%, 7.89% 3.57%)
      &::before
        width: 100%
        height: 97%
        background: $white
        z-index: 1
        top: 51.1%
      &::after
        width: 111%
        height: 111%
        background: $black
        z-index: 0
        top: 52%
      &-arrow, &-cursor
        position: absolute
        top: 50%
        z-index: 2
      &-arrow
        width: 9px
        height: 15px
        background: url("https://fav-prom.com/html/football-challange-2/img/welcome/welcome-swipe.png") no-repeat 0 0/contain
        left: 2px
        transform: translate(0, -57%)
        animation: swipeArrow 1.6s ease-in-out infinite
      &-cursor
        background: url("https://fav-prom.com/html/football-challange-2/img/welcome/welcome-cursor.png") no-repeat 0 0/contain
        width: 23px
        height: 24px
        right: 0
        transform: translate(0, -50%) rotate(-44.37deg)

  &__left
    max-width: 450px
    margin-top: auto
    z-index: 2
    height: 517px
    display: flex
    flex-direction: column
  &__title
    display: inline-block
    width: fit-content
    background: $magenta
    color: $dark-blue
    font-family: $font-suisse-intl-bold
    font-size: 29px
    line-height: 29px
    text-transform: uppercase
    //padding: 5px 6px 4px 6px
    padding: 9px 6px 4px 6px
    margin-bottom: 22px
  &__subtitle
    color: $magenta
    text-transform: uppercase
    font-size: 93px
    line-height: 77px
    text-shadow: 0px 1px 0px $black
    font-family: $font-spaceland-it
    margin-bottom: 22px
  &__text
    color: $white
    font-family: $font-suisse-intl-bold
    font-size: 26px
    line-height: 29px
    text-transform: uppercase
    text-shadow: 0px 1px 0px $black
    margin-bottom: 22px
  &__right
    position: absolute
    bottom: 45px
    right: 17px
    display: flex
  &__timer
    position: absolute
    bottom: -40px
    right: 100px
    z-index: 3
    display: flex
    flex-direction: column
    align-items: center
    &-title
      position: relative
      color: $white
      z-index: 3
      font-family: $font-suisse-intl-bold
      font-size: 16px
      line-height: 16px
      text-transform: uppercase
      padding: 9px 15px 7px 15px
      display: inline-flex
      align-items: center
      justify-content: center
      transform: rotate(-2.29deg)
      margin-bottom: -10px
      &::before, &::after
        content: ""
        position: absolute
        clip-path: polygon(99.24% 4.91%, 1.72% 4.91%, 0.47% 95.77%, 98.27% 86.14%, 99.24% 4.91%)
      &:before
        background: $dark-blue2
        width: 100%
        height: 100%
        z-index: -1
      &::after
        background: $white
        width: 102%
        height: 120%
        z-index: -2
    &-list
      display: flex
      padding: 25px 22px 17px 20px
      gap: 8px
      position: relative
      z-index: 0
      &::before, &::after
        content: ""
        display: block
        position: absolute
        z-index: -1
        clip-path: polygon(98.16% 2.01%, 2.96% 10.88%, 0.89% 92.65%, 98.16% 89.34%, 98.16% 2.01%)
        transform: translate(-50%, -50%)
      &::before
        background: #0C0C0C
        width: 103%
        height: 106%
        z-index: 0
        top: 55%
        left: 52%
      &::after
        background: $white
        z-index: 1
        width: 103%
        height: 107%
        left: 50%
        top: 50%
    &-item
      display: flex
      flex-direction: column
      align-items: center
      z-index: 3
      &:nth-child(1)::before
        content: ""
        display: block
        position: absolute
        z-index: -1
        clip-path: polygon(98.16% 2.01%, 2.96% 10.88%, 0.89% 92.65%, 98.16% 89.34%, 98.16% 2.01%)
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        background: $dark-blue2
        width: 100%
        height: 100%
      &-num
        padding: 0 0 3px 6px
        color: $magenta
        font-family: $font-spaceland
        font-size: 60px
        line-height: 60px
        font-style: normal
        letter-spacing: .08em
        max-width: 70px
        min-width: 70px
        height: 67px
        text-align: center
        display: flex
        align-items: center
        justify-content: center
        background: url("https://fav-prom.com/html/football-challange-2/img/welcome/timer-item-bg.png") no-repeat 0 0/contain
      &-text
        color: $white
        font-family: $font-suisse-intl-bold
        font-size: 13px
        text-align: center
        text-transform: uppercase
        width: 100%
        margin-top: 5px

  &__lock, &__open
    display: flex
    align-items: flex-end
    position: relative
    &::before
      content: ""
      display: block
      width: 700px
      height: 290px
      background: url("https://fav-prom.com/html/football-challange-2/img/welcome/particle.png") no-repeat 0 0/contain
      position: absolute
      bottom: 0
      left: 50%
      transform: translate(-50%, 0)
      z-index: 3
      pointer-events: none
    &-left
      max-width: 427px
      min-width: 427px
      margin-right: -240px
      animation: showLeftPers 1.2s ease-in-out
      position: relative
      z-index: 1
      background: url("https://fav-prom.com/html/football-challange-2/img/lightning.gif") no-repeat 0 0/contain
      pointer-events: none
      //
      //&::before
      //  content: ""
      //  display: block
      //  background: url("https://fav-prom.com/html/football-challange-2/img/lightning.gif") no-repeat 0 0/contain
      //  width: 70%
      //  height: 70%
      //  position: absolute
      //  z-index: -1
      //  left: 50%
      //  top: 0
      //  transform: translate(-50%, 0)
    &-center
      max-width: 466px
      min-width: 466px
      z-index: 2
    &-right
      max-width: 413px
      min-width: 413px
      margin-left: -265px
      animation: showRightPers 1.2s ease-in-out
      position: relative
      z-index: 1
      background: url("https://fav-prom.com/html/football-challange-2/img/fire.gif") no-repeat 0 0/contain
      //&::before
      //  content: ""
      //  display: block
      //  background: url("https://fav-prom.com/html/football-challange-2/img/fire.gif") no-repeat 0 0/contain
      //  width: 70%
      //  height: 70%
      //  position: absolute
      //  z-index: -1
      //  left: 50%
      //  top: 0
      //  transform: translate(-50%, 0)

  &__open
    display: none
    &-left
      max-width: 390px
      min-width: 390px
      margin: 0
      background: url("https://fav-prom.com/html/football-challange-2/img/fire.gif") no-repeat 0 0/contain
    &-center
      margin: 65px -90px auto -75px
      min-width: auto
      animation: showCenterWelcome 2s ease-in-out
    &-right
      margin: 0 -40px 0 0
      min-width: 410px
      max-width: 410px
      background: url("https://fav-prom.com/html/football-challange-2/img/lightning.gif") no-repeat 0 0/contain
  &__card
    display: none

  &__btn
    animation: showBtn 1.5s ease-in-out
    margin-bottom: -10px
  &__bottom-text
    color: $white
    font-size: 10px
    line-height: 16px
    font-family: $font-suisse-intl-reg
    opacity: .9
    align-self: flex-end

.chose
  width: 100%
  max-width: 1160px
  min-width: 1160px
  display: flex
  flex-direction: column
  padding-top: 10px
  align-items: center
  z-index: 1
  pointer-events: none
  &__card
    display: flex
    opacity: 0
    pointer-events: initial
  &__title
    color: $magenta
    font-size: 53px
    font-family: $font-spaceland
    line-height: 53px
    text-align: center
    text-transform: uppercase
    max-width: 870px
  &__subtitle
    font-size: 16px
    line-height: 22px
    font-family: $font-suisse-intl-reg
    text-align: center
    color: $white
    max-width: 850px
    margin-top: 10px
  &__body
    display: flex
    width: 100%
    background: url("https://fav-prom.com/html/football-challange-2/img/chose/chose-bg-desc.png") no-repeat 0 50%/contain
    padding: 0 0 0 40px
    @media screen and (max-width: 1050px)
      background: url("https://fav-prom.com/html/football-challange-2/img/chose/chose-bg-tab.png") no-repeat 0 5px/contain
    @media screen and (max-width: 710px)
      background: url("https://fav-prom.com/html/football-challange-2/img/chose/chose-bg-mob.png") no-repeat 0 22px/contain
  &__pers
    position: relative
    max-width: 250px
    z-index: 2
    &-buble
      position: absolute
      width: 160px
      height: 95px
      top: -11px
      right: -57px
      background: url("https://fav-prom.com/html/football-challange-2/img/chose/bubble.png") no-repeat 0 0/contain
      color: $dark-blue2
      font-family: $font-suisse-intl-bold
      font-size: 14px
      line-height: 16px
      padding: 14px 12px 40px 12px
      text-align: center
    &::before
      content: ""
      display: block
      width: 100%
      height: 10%
      background: white
      position: absolute
      z-index: -1
      bottom: 3%
      left: -7%
      transform: rotate(-4deg)
      mask-image: url("https://fav-prom.com/html/football-challange-2/img/chose/pers-bottom-mask.png")
      mask-repeat: no-repeat
      mask-size: 100% 100%
      background: $dark-blue2
      opacity: .7




.result
  display: none
  flex-direction: column
  align-items: flex-start
  width: 100%
  max-width: 1030px
  min-width: 1030px
  padding: 20px 0 60px 0
  height: 600px
  opacity: 0
  z-index: 2
  pointer-events: none
  .btn
    pointer-events: initial
  .drop
    pointer-events: initial
    &._table
      padding: 10px 0
    &._easy
      .drop-txt-list
        display: none
        &._easy
          display: flex
    &._medium
      .drop-txt-list
        display: none
        &._medium
          display: flex
    &._hight
      .drop-txt-list
        display: none
        &._hight
          display: flex
  &__text
    color: $white
    max-width: 830px
    text-align: center
    font-size: 16px
    line-height: 22px
    font-family: $font-suisse-intl-reg
    margin: 0 auto 35px auto
  &__table
    width: 100%
    display: flex
    align-items: center
    max-height: 590px
    margin: 85px 0
    position: relative
    padding: 0 60px 0 0
    z-index: 1
    &::before
      content: ""
      background: url("https://fav-prom.com/html/football-challange-2/img/result/result-bg.png") no-repeat 50% 50%/contain
      width: 100%
      height: 100%
      z-index: -1
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
  &__pers
    max-width: 425px
    position: relative
    bottom: 11px
    left: 37px
    opacity: 0
    &-img
      display: block
      transform: scale(-1, 1)
    &-buble
      width: 245px
      height: 130px
      position: absolute
      right: -100px
      top: 30px
      background: url("https://fav-prom.com/html/football-challange-2/img/result/bubble.png") no-repeat 0 0/contain
      color: $dark-blue2
      font-size: 16px
      line-height: 17px
      text-align: center
      font-family: $font-suisse-intl-bold
      padding: 15px 20px 40px 20px
      z-index: 2
  &__right
    max-width: 385px
    margin: 10px 0 0 auto
    display: flex
    flex-direction: column
    align-items: center
  &__bets
    display: flex
    flex-direction: column-reverse
    align-items: center
    gap: 9px
    margin: -14px 0 30px 0
    &-item
      display: flex
      align-items: center
      width: 265px
      max-height: 36px
      padding: 0 16px 2px 16px
      position: relative
      z-index: 1
      opacity: 0
      transform: translate(-30px, 0)
      &:nth-child(1)
        z-index: 10
      &:nth-child(2)
        z-index: 9
      &:nth-child(3)
        z-index: 8
      &:nth-child(4)
        z-index: 7
      &:nth-child(5)
        z-index: 6
      &:nth-child(6)
        z-index: 5
      &:nth-child(7)
        z-index: 4
      &:nth-child(8)
        z-index: 3
      &:nth-child(9)
        z-index: 2
      &:nth-child(10)
        z-index: 1
      &::before, &::after
        content: ""
        display: block
        position: absolute
        left: 50%
        transform: translate(-50%, -50%)
        clip-path: polygon(2.95% 4.65%, 97.83% 4.65%, 95.67% 88.37%, 0.79% 88.37%, 2.95% 4.65%)
      &::before
        width: 100%
        height: 100%
        background: #0C0C0C
        z-index: -2
        top: 70%
      &::after
        background: $dark-blue2
        width: 103.5%
        height: 125%
        z-index: -1
        top: 50%
      &.you
        .result__bets-you
          display: flex
        .result__bets-status
          display: none
        .result__bets-text
          color: $magenta
      &._done
        .result__bets-status
          background: url("https://fav-prom.com/html/football-challange-2/img/result/done.png") no-repeat 0 0/contain
        .result__bets-text
          color: $dark-blue2
      &._fail
        .result__bets-status
          background: url("https://fav-prom.com/html/football-challange-2/img/result/fail.png") no-repeat 0 0/contain
    &-you
      display: none
      position: absolute
      right: -30px
      top: -3px
      width: 50px
      height: 50px
      align-items: center
      justify-content: center
      background: url("https://fav-prom.com/html/football-challange-2/img/result/you.png") no-repeat 0 0/contain
      font-family: $font-spaceland-it
      font-size: 27px
      color: $dark-blue2
      text-transform: uppercase
      padding: 0 4px 1px 0
      opacity: 0
    &-status
      background: url("https://fav-prom.com/html/football-challange-2/img/result/lock.png") no-repeat 0 0/contain
      width: 38px
      height: 38px
      margin-left: 10px
      z-index: 1
    &-icon
      position: absolute
      right: -7px
      top: 50%
      transform: translate(0, -50%)
      width: 74px
      height: 48px
    &-text
      color: rgba($dark-blue2, .2)
      text-transform: uppercase
      font-size: 32px
      font-family: $font-spaceland-it
      min-width: 90px
      z-index: 0
      &::before
        content: ""
        display: block
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        clip-path: polygon(2.95% 4.65%, 97.83% 4.65%, 95.67% 88.37%, 0.79% 88.37%, 2.95% 4.65%)
        width: 100%
        height: 100%
        background: $white
        z-index: -1
  &__last-upd
    position: absolute
    bottom: 7px
    left: 19px
    color: $dark-blue2
    font-size: 10px
    line-height: 12px
    font-family: $font-suisse-intl-bold
    padding: 8px 11px 7px 11px
    z-index: 1
    span
      font-family: inherit
    &::before, &::after
      content: ""
      display: block
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      clip-path: polygon(3.52% 3.33%, 98.99% 3.33%, 96.48% 96.67%, 1.01% 96.67%, 3.52% 3.33%)
    &::before
      width: 100%
      height: 100%
      background: $white
      z-index: -1
    &::after
      width: 103%
      height: 117%
      background: $black
      z-index: -2

  &__top
    width: 285px
    height: 110px
    position: relative
    //display: flex
    display: none
    justify-content: flex-start
    flex-direction: column
    align-items: flex-start
    padding: 10px 0 0 135px
    opacity: 0
    transform: scale(1.1)
    &::before
      //content: ""
      display: block
      width: 75px
      height: 55px
      position: absolute
      top: -25px
      right: -17px
      background: url("https://fav-prom.com/html/football-challange-2/img/result/crown.png") no-repeat 0 0/contain
    &._easy
      background: url("https://fav-prom.com/html/football-challange-2/img/result/card-easy.png") no-repeat 0 0/contain
    &._medium
      background: url("https://fav-prom.com/html/football-challange-2/img/result/card-medium.png") no-repeat 0 0/contain
    &._hight
      background: url("https://fav-prom.com/html/football-challange-2/img/result/card-hight.png") no-repeat 0 0/contain
      .result__top-title
        padding: 6px 23px 10px
    &-amount
      display: flex
      align-items: center
      align-self: center
      justify-content: center
      width: fit-content
      height: 36px
      font-size: 30px
      padding: 5px 30px
      text-transform: uppercase
      color: $white
      font-family: $font-spaceland-it
      background: white
      margin-top: auto
      background: url("https://fav-prom.com/html/football-challange-2/img/chose/amount-bg.png") no-repeat 50% 0/contain
      z-index: 2
      transition: transform .4s ease-in-out
      position: absolute
      left: 127px
      top: -27px
      white-space: nowrap
    &-title
      position: absolute
      left: -28px
      top: -38px
      min-width: 160px
      padding: 4px 26px 10px
      color: $magenta
      font-family: $font-spaceland-it
      font-size: 33px
      text-transform: uppercase
      text-align: center
      background: url("https://fav-prom.com/html/football-challange-2/img/result/card-title-bg.png") no-repeat 0 0/contain
    &-text
      color: $dark-blue2
      font-size: 12px
      font-family: $font-suisse-intl-reg
      z-index: 2
    &-bonus
      color: $dark-blue2
      font-size: 16px
      text-transform: uppercase
      font-family: $font-suisse-intl-bold
    &-minbet
      color: $white
      font-size: 10px
      background: $dark-blue2
      font-family: $font-suisse-intl-reg
      padding: 7px 7px 9px 8px
      clip-path: polygon(2.21% 9.29%, 0.16% 91.1%, 100% 98.57%, 98.69% 2.4%, 2.21% 9.29%)
      margin-left: -10px
  &__btn
    opacity: 0

.table
  display: flex
  flex-direction: column
  align-items: flex-start
  background: rgba(#000, .3)
  border: 2px solid white
  margin-top: 5px
  padding: 16px
  &__head
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    color: rgba($white, .3)
    padding: 0 20px
  &__column
    font-size: 17px
    font-family: $font-suisse-intl-reg
    min-width: 120px
    max-width: 120px
    white-space: nowrap
    &:nth-child(2)
      text-align: center
    &:nth-child(3)
      text-align: right

  &__body
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    gap: 2px
    width: 100%
    margin-top: 5px
  &__scroll
    width: 100%
    max-height: 300px
    overflow-y: auto
    scrollbar-width: auto
    &::-webkit-scrollbar
      background: rgba($white, .3)
      width: 2px
    &::-webkit-scrollbar-thumb
      width: 2px
      background: $magenta
  &__you
    width: 100%
  &__row
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    padding: 7px 20px
    background: rgba($white, .05)
    &-item
      min-width: 140px
      max-width: 140px
      white-space: nowrap
      color: $white
      font-family: $font-suisse-intl-reg
      font-size: 17px
      &:nth-child(2)
        text-align: center
      &:nth-child(3)
        text-align: right
    &._you
      //padding: 0
      border: 1px solid $magenta
      .table__row
        &-item
          &._you-text
            width: fit-content
            min-width: 30px
            color: $magenta
            text-align: left
            align-self: flex-start
            margin-right: auto
          &:nth-child(1)
            min-width: auto
            width: fit-content
            margin-right: 5px
          &:nth-child(3)
            text-align: center
            margin-left: auto
            margin-right: 23px
          &:nth-child(4)
            text-align: right

.notify
  //z-index: 3
  z-index: 0
  width: 930px
  height: 280px
  position: relative
  background: url("https://fav-prom.com/html/football-challange-2/img/notify/notify-bg-desc.png") no-repeat 0 0/contain
  margin-bottom: 45px
  transition: all .5s ease-in-out
  @media screen and (max-width: 1050px)
    background: url("https://fav-prom.com/html/football-challange-2/img/notify/notify-bg-tab.png") no-repeat 0 0/contain
  @media screen and (max-width: 600px)
    background: url("https://fav-prom.com/html/football-challange-2/img/notify/notify-bg-mob.png") no-repeat 0 0/contain
  &.margin-top
    margin-top: 50px
    z-index: 5
    @media screen and (max-width: 600px)
      margin-top: 100px
  &__info
    display: block
    position: absolute
    right: 0
    top: 15px
  &__pers
    position: absolute
    left: -110px
    top: -5px
    max-width: 730px
    background: url("https://fav-prom.com/html/football-challange-2/img/lightning.gif") no-repeat 50% 0/contain
    opacity: 0
    &-buble
      width: 240px
      height: 83px
      position: absolute
      right: -62px
      top: -20px
      color: $dark-blue2
      font-family: $font-suisse-intl-bold
      font-size: 16px
      line-height: 17px
      text-align: center
      padding: 9px 30px 40px 25px
      background: url("https://fav-prom.com/html/football-challange-2/img/notify/buble-desc.png") no-repeat 0 0/contain
      z-index: 2
      opacity: 0
      @media screen and (max-width: 1050px)
        background: url("https://fav-prom.com/html/football-challange-2/img/notify/buble-mob.png") no-repeat 0 0/contain
  &__cup
    position: absolute
    right: 0
    bottom: -49px
    pointer-events: none
    //transform: translate(0, -50%)
    width: 470px
    height: 500px
    background: url("https://fav-prom.com/html/football-challange-2/img/notify/cup-bg.png") no-repeat 50% 0/contain
    @media screen and (max-width: 600px)
      background: url("https://fav-prom.com/html/football-challange-2/img/notify/cup-bg-mob.png") no-repeat 50% 0/contain
    &-img
      display: block
      max-width: 200px
      position: absolute
      left: 50%
      top: 120px
      transform: translate(-50%, 0)
      //animation: float 3s ease-in-out infinite
      picture
        animation: opacityCup .7s ease-in-out
      &::before
        //content: ""
        display: block
        width: 106px
        height: 146px
        position: absolute
        top: 45px
        left: 50%
        transform: translate(-50%, 0)
        background: rgba(#FDE79E, .4)
        border-radius: 50%
        z-index: -1
        box-shadow: 0px 0px 50px #FDE79E
        animation: opacity 2s ease-in-out infinite


details summary::-webkit-details-marker
  display: none

.drop
  max-width: 540px
  width: 100%
  margin: 0 auto
  border-radius: 10px
  position: relative
  z-index: 5
  &__bottom-text
    color: $white
    font-size: 10px
    line-height: 16px
    font-family: $font-suisse-intl-reg
    opacity: .9
    text-align: center
    margin-bottom: 15px
  .dropdown[open] summary::before
    transform:  rotate(180deg)
  summary
    list-style: none
    padding: 15px
    font-family: $font-suisse-intl-reg
    font-size: 16px
    cursor: pointer
    border: 2px solid $white
    background: rgba($black, .3)
    display: flex
    align-items: center
    justify-content: space-between
    color: $white
    @media screen and (max-width: 600px)
      font-size: 14px
      line-height: 22px
    &::before
      content: ""
      display: block
      min-width: 25px
      height: 25px
      background: url("https://fav-prom.com/html/football-challange-2/img/arrow-drop.png") no-repeat 0 0/contain
      order: 2

  &-txt
    padding: 15px
    background: rgba($black, .3)
    margin-top: 10px
    max-height: 350px
    overflow-y: auto
    border: 2px solid $white
    scrollbar-width: auto
    &::-webkit-scrollbar-thumb
      background: $green
      width: 3px
      border-radius: 3px
    &::-webkit-scrollbar
      background: $white
      width: 3px
    &-list
      display: flex
      flex-direction: column
      gap: 15px
      &.my-spins
        display: flex
        .no-spins
          display: block
          color: $white
          text-align: center
          font-family: $font-suisse-intl-reg
          font-size: 16px
          line-height: 26px
        .spins-row
          display: flex
          flex-direction: column
          justify-content: space-between
          width: 100%
          gap: 2px
          &-head
            .content-date
              min-width: 80px
          &-item
            .content-date
              min-width: 60px
          &-item, &-head
            display: flex
            justify-content: flex-start
            padding: 7px 20px
            //border-radius: 13px
          &-item
            .content-status
              width: 30px
              height: 30px
              background: url("https://fav-prom.com/html/football-challange-2/img/undone.png") no-repeat 0 0/contain
              &._done
                background: url("https://fav-prom.com/html/football-challange-2/img/done.png") no-repeat 0 0/contain

          &-head
            background: transparent
            opacity: .2
          &-item
            background: rgba($white, .05)
          .content-date, .content-prize, .content-status
            color: $white
            font-family: $font-suisse-intl-reg
            font-size: 16px
            line-height: 26px
            @media screen and (max-width: 337px)
              font-size: 13px
              line-height: 20px
          .content-date
            margin-right: 10px
            //min-width: 60px
            max-width: fit-content
            padding: 0
            @media screen and (max-width: 600px)
              margin-right: 20px
            @media screen and (max-width: 337px)
              margin-right: 10px
          .content-prize
            margin-left: auto
            margin-right: auto
      p, strong
        font-size: 16px
        line-height: 26px
        font-family: $font-suisse-intl-reg
        color: $white
        @media screen and (max-width: 600px)
          font-size: 14px
          line-height: 22px
      span
        font-family: $font-suisse-intl-reg
        display: block
      tr,td
        font-family: $font-suisse-intl-reg
      td
        padding-left: 5px


.retreat1
  padding-left: 30px
  strong
    font-family: $font-suisse-intl-bold
    color: $white
.circle
  padding-left: 35px
  &:before
    content: ''
    width: 5px
    height: 5px
    background: $white
    border-radius: 50%
    display: inline-block
    margin: 0 4px 2px 0

// cards
.chose, .welcome
  &__list
    display: flex
    align-items: flex-start
    padding-top: 20px
    justify-content: center
    gap: 45px
  &__card
    width: 250px
    height: 395px
    //display: flex
    //display: none
    flex-direction: column
    padding-bottom: 20px
    transition: transform .4s ease-in-out
    &:hover
      transform: scale(1.05)
      .chose
        &__card
          &-amount
            transform: rotate(-8deg)
          &-title
            transform: rotate(-4deg)
            margin-top: -10px
          &-btn
            transform: scale(1.15)
    &-btn.btn
      min-width: 145px
      width: fit-content
      margin: -5px auto -40px auto
      position: relative
      transform-origin: center
      right: 10px
      .btn-txt
        font-size: 20px
        line-height: 28px
        padding: 2px 15px 5px 10px
    &:hover
      cursor: pointer
    &._easy
      background: url("https://fav-prom.com/html/football-challange-2/img/chose/card-easy-bg.png") no-repeat 50% 0/contain
    &._medium
      background: url("https://fav-prom.com/html/football-challange-2/img/chose/card-medium-bg.png") no-repeat 50% 0/contain
    &._hight
      background: url("https://fav-prom.com/html/football-challange-2/img/chose/card-hight-bg.png") no-repeat 50% 0/contain
    &-amount
      display: flex
      align-items: center
      align-self: center
      justify-content: center
      width: fit-content
      height: 37px
      font-size: 26px
      padding: 10px 40px
      color: $white
      font-family: $font-spaceland-it
      background: white
      //margin-top: auto
      background: url("https://fav-prom.com/html/football-challange-2/img/chose/amount-bg.png") no-repeat 50% 0/contain
      z-index: 2
      transition: transform .4s ease-in-out

    &-title
      width: 250px
      min-height: 99px
      background: url("https://fav-prom.com/html/football-challange-2/img/chose/card-title-bg.png") no-repeat 0 0/contain
      color: $magenta
      font-family: $font-spaceland-it
      font-size: 52px
      text-transform: uppercase
      padding: 6px 0 24px 5px
      display: flex
      align-items: center
      justify-content: center

      margin-top: -15px
      transition: all .4s ease-in-out
    //position: relative
    //right: 10px
    &-text
      color: $dark-blue2
      text-align: center
      font-size: 16px
      font-family: $font-suisse-intl-reg
      line-height: 24px
      margin-top: -17px
    &-bonus
      color: $dark-blue2
      font-size: 20px
      text-transform: uppercase
      font-family: $font-suisse-intl-bold
      text-align: center
      margin-bottom: 8px
    &-minbet
      background: $dark-blue2
      color: $white
      font-size: 12px
      font-family: $font-suisse-intl-reg
      display: inline-block
      width: fit-content
      margin: 0 auto
      padding: 10px 10px 11px 11px
      min-width: 185px
      text-align: center
      clip-path: polygon(2.54% 10.61%, 0.28% 90.91%, 100% 100%, 98.59% 1.52%, 2.54% 10.61%)
    &-info
      position: absolute
      right: 2px
      top: 0
      transform: translate(100%, 0)


.chose
  &__card
    &-amount
      margin-top: auto
.welcome
  &__card
    &-amount
      margin: 0 0 -15px 0
// popups
.popup
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 11
  display: flex
  align-items: center
  justify-content: center
  background: rgba($black, .5)
  transition: opacity .4s ease-in-out
  padding: 10px
  &._opacity
    opacity: 0
    z-index: -10

  &__item
    display: none
    width: 510px
    position: relative
    &._active
      display: block
  &__scroll
    width: 100%
    scrollbar-width: auto
    max-height: 280px
    overflow-y: auto
    padding: 16px
    border: 2px solid $white
    background: rgba($black, .9)
    &::-webkit-scrollbar
      background: $white
      width: 3px
    &::-webkit-scrollbar-thumb
      width: 3px
      background: $green
      border-radius: 5px
  &__close
    position: absolute
    top: -30px
    right: 0
    width: 27px
    height: 24px
    background: url("https://fav-prom.com/html/football-challange-2/img/close.png") no-repeat 0 0/contain
    transition: background .4s ease-in-out
    &:hover
      cursor: pointer
      background: url("https://fav-prom.com/html/football-challange-2/img/close-hover.png") no-repeat 0 0/contain

  &__text
    color: $white
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 15px
    font-size: 16px
    line-height: 26px
    & > *
      font-family: $font-suisse-intl-reg

@keyframes swipeArrow
  0%
    transform: translate(0, -57%)
  50%
    transform: translate(0, -43%)


@keyframes showBtn
  0%
    opacity: 0
    transform: translate(0, 20px) scale(1.05)
  50%
    opacity: 1
    transform: scale(1.05)
  100%
    transform: scale(1)

@keyframes showLeftPers
  0%
    opacity: 0
    transform: translate(-10%, 0)
  100%
    opacity: 1
    transform: translate(0, 0)

@keyframes showRightPers
  0%
    opacity: 0
    transform: translate(10%, 0)
  100%
    opacity: 1
    transform: translate(0, 0)

@keyframes float
  0%, 100%
    transform: translate(-50%, -5px)
  50%
    transform: translate(-50%, 5px)

@keyframes opacity
  0%, 100%
    opacity: .6
  50%
    opacity: 1

@keyframes opacityCup
  0%
    opacity: .6
  100%
    opacity: 1

@keyframes showCenterWelcome
  0%
    transform: translate(0, 30px) scale(1.05)
    opacity: 0
  50%
    transform: translate(0, 30px) scale(1.05)
    opacity: 0
  75%
    transform: translate(0, 0) scale(1.05)
    opacity: 1
  100%
    transform: none

@keyframes showBtnDelay
  0%
    transform: translate(0, 30px) scale(1.05)
    opacity: 0
  50%
    transform: translate(0, 30px) scale(1.05)
    opacity: 0
  75%
    transform: translate(0, 0) scale(1.05)
    opacity: 1
  100%
    transform: none

@keyframes showZeus
  0%
    opacity: 0
    transform: translate(-90px, 90px)
  100%
    opacity: 1
    transform: none

@keyframes showZeusBuble
  0%
    opacity: 0
    transform: translate(-50px, 0)
  100%
    transform: none
    opacity: 1

@keyframes moveRight
  0%
    opacity: 1
    transform: none
  100%
    opacity: 0
    transform: translate(40px, 0)

@keyframes showBg
  0%
    transform: scale(1.1) translate(-50%, -50%)
    top: 58%
  50%
    transform: scale(1.1) translate(-50%, -50%)
    top: 50%
  100%
    transform: scale(1) translate(-50%, -50%)

@keyframes showYou
  0%
    transform: scale(1.2)
    opacity: 0
  100%
    transform: scale(1)
    opacity: 1

.showZeus
  animation: showZeus 1.2s ease-in-out
  opacity: 1

.showZeusBuble
  animation: showZeusBuble .7s ease-in-out
  opacity: 1

.showCard
  animation: showZeusBuble .6s ease-in-out
  opacity: 1

.choseHide
  transition: all 1s ease-in-out
  .chose__pers
    animation: moveRight 1.2s ease-in-out
  .card
    animation: moveRight .6s ease-in-out
    //opacity: 0
  .chose__list > .card:nth-child(1)
    animation-delay: .2s
  .chose__list > .card:nth-child(2)
    animation-delay: .4s
  .chose__list > .card:nth-child(3)
    animation-delay: .6s
.resultShow
  display: flex
  transition: all 1.2s ease-in-out
  opacity: 1
  .result
    &__top
      transition: all 1.5s ease-in-out
      transform: none
      opacity: 1
    &__pers
      opacity: 1
      transition: .7s ease-in-out
    &__table
      &::before
        transform-origin: left top
        animation: showBg 1s ease-in-out


.showItem
  transition: all .7s ease-in-out
  transform: none
  opacity: 1

.showYou, .showBtn
  animation: showYou .8s ease-in-out
  opacity: 1


// DARK
body.dark
  background: $dark
  .fav-page
    background: url("https://fav-prom.com/html/football-challange-2/img/bg-dark.jpg") no-repeat 0 0/cover
    background-size: 100vw 3400px
  .chose
    &__pers
      &::before
        background: $black
        opacity: .4

// en styles
.fav-page.en
  &._easy, &._medium, &._hight
    .welcome
      &__card
        &-selected
          padding: 8px 10px 7px 10px
          font-size: 11px
          @media screen and (max-width: 1050px)
            font-size: 7px
            padding: 5px 6px 5px 6px
  &._hight
    .welcome
      &__card
        &-title
          @media screen and (max-width: 1050px)
            padding-left: 8px
  .welcome
    &__scroll
      &-left
        font-size: 11px
  .chose, .welcome
    &__card
      &-btn
        min-width: 180px
      &-title
        font-size: 42px
        padding: 15px 0 20px 11px
        min-height: 87px
        @media screen and (max-width: 1050px)
          font-size: 26px
          padding: 8px 0 14px 5px
          min-height: 55px
  .notify
    &__pers
      &-buble
        padding: 9px 30px 42px 22px
        font-size: 14px
        line-height: 16px
  .result
    &__top
      &._medium
        .result__top-title
          font-size: 29px
          min-height: 60px
          padding: 8px 19px 10px
          top: -37px
      &._hight
        .result__top-title
          font-size: 29px
          min-height: 60px
          padding: 4px 19px 10px
          top: -31px
      &-title
        font-size: 29px
        min-height: 60px
        top: -36px
        padding: 8px 31px 14px
        @media screen and (max-width: 1050px)
          top: -33px
          font-size: 26px
          padding: 6px 0 25px 11px
    &__pers
     &-buble
       padding: 21px 27px 40px 27px
       @media screen and (max-width: 1050px)
         padding: 13px 27px 40px 27px
    &__bets
      &-you
        font-size: 23px


.spinner-overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: $blue
  display: flex
  justify-content: center
  align-items: center
  z-index: 8

.spinner
  width: 50px
  height: 50px
  border-radius: 50%
  background: conic-gradient(#3a6ceb 0deg 180deg, #e3bdbd 180deg 360deg)
  animation: rotate 1.5s linear infinite
  mask: radial-gradient(farthest-side, transparent calc(100% - 7px), black calc(100% - 15px))

.fav-page.loading
  max-height: 100vh
  overflow: hidden


body.dark
  .spinner-overlay
    background: $black

@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

