button.menu-btn menu
.menu-test
    button.easy easy
    button.medium medium
    button.hight hight
    button.dark dark
    button.en en
    button.auth auth
    //button.not-join not join
.fav-page
    .welcome
        .welcome__left
            .welcome__title(data-translate="welcomeTitle") акція
            .welcome__subtitle(data-translate="welcomeSubtitle") Футбольний <br> челендж
            .welcome__text(data-translate="welcomeText") Випробуй себе <br> та змагайся за бонус*
            .welcome__btn.btn.part-btn.hide #[span.btn-txt(data-translate="partBtn") взяти участь]
            a(href="/sports/sport/soccer").welcome__btn.btn.btn-join.hide #[span.btn-txt(data-translate="mainBtn") до гри]
            a(href="/login").welcome__btn.btn.unauth-msg #[span.btn-txt(data-translate="signBtn") авторизуватися]
            .welcome__scroll
                .welcome__scroll-left #[span.welcome__scroll-left-icon] #[span.welcome__scroll-left-text(data-translate="welcomeScroll") обери свій рівень]
                .welcome__scroll-right #[span.welcome__scroll-right-arrow] #[span.welcome__scroll-right-cursor]
            .welcome__bottom-text(data-translate="welcomeBottom").
                *Під бонусом  розуміється можливість отримати приз
                у вигляді бонусної пропозиції «Страховка Ставки», в рамках
                акції «Футбольний челендж». Загальний призовий фонд, вид
                та розмір бонусної пропозиції визначається виключно на розсуд
                Організатора та доступний в межах діючої Програми лояльності.
                Період дії акції з 21.01.2025 по 30.01.2025 року.
        .welcome__right
            .welcome__lock
                .welcome__lock-left
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="./img/welcome/zeus-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="./img/welcome/zeus-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="./img/welcome/zeus-mob.png")
                        source(media="(max-width: 1050px) and (orientation: landscape) and (max-height: 800px)" srcset="./img/welcome/zeus-mob.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="./img/welcome/zeus-desc.png")
                        img(src="./img/welcome/zeus-desc.png" alt="Favbet")
                .welcome__lock-center
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="./img/welcome/gladiator-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="./img/welcome/gladiator-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="./img/welcome/gladiator-mob.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="./img/welcome/gladiator-desc.png")
                        img(src="./img/welcome/gladiator-desc.png" alt="Favbet")
                .welcome__lock-right
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="./img/welcome/kratos-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="./img/welcome/kratos-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="./img/welcome/kratos-mob.png")
                        source(media="(max-width: 1050px) and (orientation: landscape) and (max-height: 800px)" srcset="./img/welcome/kratos-mob.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="./img/welcome/kratos-desc.png")
                        img(src="./img/welcome/kratos-desc.png" alt="Favbet")
            .welcome__open
                .welcome__open-left
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="./img/welcome/kratos-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="./img/welcome/kratos-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="./img/welcome/kratos-mob.png")
                        source(media="(max-width: 1050px) and (orientation: landscape) and (max-height: 800px)" srcset="./img/welcome/kratos-mob.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="./img/welcome/kratos-desc.png")
                        img(src="./img/welcome/kratos-desc.png" alt="Favbet")
                .welcome__open-center
                        .welcome__list
                            .welcome__card._easy.card
                                .welcome__card-selected(data-translate="cardSelected") Вітаємо, ти обрав рівень
                                .welcome__card-title(data-translate="cardTitleEasy") новачок
                                .welcome__card-text(data-translate="cardText") Бонус <br> Страховка Ставки
                                .welcome__card-bonus #[span(data-translate="cardBonusEasy") ]
                                .welcome__card-minbet(data-translate="cardMinbetEasy") Мінімальна ставка: від 150 ₴
                            .welcome__card._medium.card
                                .welcome__card-selected(data-translate="cardSelected") Вітаємо, ти обрав рівень
                                .welcome__card-title(data-translate="cardTitleMedium") на досвіді
                                .welcome__card-text(data-translate="cardText") Бонус <br> Страховка Ставки
                                .welcome__card-bonus #[span(data-translate="cardBonusMedium") ]
                                .welcome__card-minbet(data-translate="cardMinbetMedium") Мінімальна ставка: від 300 ₴
                            .welcome__card._hight.card
                                .welcome__card-selected(data-translate="cardSelected") Вітаємо, ти обрав рівень
                                .welcome__card-title(data-translate="cardTitleHight") божевільний
                                .welcome__card-text(data-translate="cardText") Бонус <br> Страховка Ставки
                                .welcome__card-bonus #[span(data-translate="cardBonusHight") ]
                                .welcome__card-minbet(data-translate="cardMinbetHight") Мінімальна ставка: від 600 ₴
                .welcome__open-right
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="./img/welcome/zeus-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="./img/welcome/zeus-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="./img/welcome/zeus-mob.png")
                        source(media="(max-width: 1050px) and (orientation: landscape) and (max-height: 800px)" srcset="./img/welcome/zeus-mob.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="./img/welcome/zeus-desc.png")
                        img(src="./img/welcome/zeus-desc.png" alt="Favbet")
            .welcome__timer
                .welcome__timer-title(data-translate="welcomeTimerTitle") До кінця Акції залишилось
                .welcome__timer-list
                    .welcome__timer-item
                        .welcome__timer-item-num
                        .welcome__timer-item-text(data-translate="days") днів
                    .welcome__timer-item
                        .welcome__timer-item-num
                        .welcome__timer-item-text(data-translate="hours") години
                    .welcome__timer-item
                        .welcome__timer-item-num
                        .welcome__timer-item-text(data-translate="minutes") хвилин
                    .welcome__timer-item
                        .welcome__timer-item-num
                        .welcome__timer-item-text(data-translate="seconds") секунд
    .chose
        .chose__title(data-translate="choseTitle") 3 21.01 по 30.01.2025 обирай рівень складності
        .chose__subtitle(data-translate="choseSubtitle") Та роби від 3-х до 10 виграшних ставок поспіль (виключно типу «Ординар») на актуальні футбольні події розділів «Спорт» та «LIVE» і отримай свій бонус.
        .chose__body
            .chose__pers
                .chose__pers-buble(data-translate="choseBuble") Обери рівень та почни грати
                picture.chose__pers-img
                    source(media="(max-width: 710px)" srcset="./img/chose/pers-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="./img/chose/pers-desc.png")
                    source(media="(min-width: 711px) and (max-width: 1050px) and (orientation: portrait)" srcset="./img/chose/pers-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="./img/chose/pers-desc.png")
                    img(src="./img/chose/pers-desc.png" alt="Favbet")
            .chose__list
                .chose__card._easy.card
                    .chose__card-title(data-translate="cardTitleEasy") новачок
                    .chose__card-text(data-translate="cardText") Бонус <br> Страховка Ставки
                    .chose__card-bonus #[span(data-translate="cardBonusEasy")]
                    .chose__card-minbet(data-translate="cardMinbetEasy") Мінімальна ставка: від 150 ₴
                    .chose__card-btn.btn #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="cardBtnEasy") вибрати новачок]
                    a(href="/login").chose__card-btn.btn.unauth-msg.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="signBtn") авторизуватися]
                    .chose__card-btn.btn.part-btn.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="partBtn") взяти участь]
                .chose__card._medium.card
                    .chose__card-title(data-translate="cardTitleMedium") на досвіді
                    .chose__card-text(data-translate="cardText") Бонус <br> Страховка Ставки
                    .chose__card-bonus #[span(data-translate="cardBonusMedium") ]
                    .chose__card-minbet(data-translate="cardMinbetMedium") Мінімальна ставка: від 300 ₴
                    .chose__card-btn.btn #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="cardBtnMedium") вибрати на досвіді]
                    a(href="/login").chose__card-btn.btn.unauth-msg.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="signBtn") авторизуватися]
                    .chose__card-btn.btn.part-btn.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="partBtn") взяти участь]
                .chose__card._hight.card
                    .chose__card-title(data-translate="cardTitleHight") божевільний
                    .chose__card-text(data-translate="cardText") Бонус <br> Страховка Ставки
                    .chose__card-bonus #[span(data-translate="cardBonusHight") ]
                    .chose__card-minbet(data-translate="cardMinbetHight") Мінімальна ставка: від 600 ₴
                    .chose__card-btn.btn #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="cardBtnHight") вибрати божевільний]
                    a(href="/login").chose__card-btn.btn.unauth-msg.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="signBtn") авторизуватися]
                    .chose__card-btn.btn.part-btn.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="partBtn") взяти участь]
    .result
        .result__text(data-translate="resultText").
            3 21.01 по 30.01.2025 роби від 3-х до 10 виграшних ставок
            (Ординар) поспіль на футбольні події у розділі «Спорт» та «LIVE» і отримай бонус «Страховка Ставки».
        .drop
            details.dropdown
                summary(data-translate="detailsBtn") Деталі
                .drop-txt
                    .drop-txt-list._easy(data-translate="detailsEasy")
                        // detailsEasy
                        // detailsMedium
                        // detailsHight
                        p 1. Як взяти участь?
                        p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                        p 2. Набір балів
                        p З 14.06.2024 до 14.07.2024 роби виграшні ставки на спортивні події в рамках Євро 2024 у розділах «Спорт» та «LIVE» заробляй бали в загальну турнірну таблицю.
                        p Ставки на спортивні події повинні бути від 200 грн, розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар), або від 3.5 (експрес від 3 подій), без використання «CashOut» та «Повернення ставки».
                        p 3.Вгадай точний рахунок топ-матчів етапу. Вгадай точний рахунок запропонованих топ-матчів та помнож свої бали в турнірній таблиці.
                        p За 1 вгаданий рахунок - бали помножуються на х2.
                        p За 2 вгаданих рахунки - бали помножуються на х3.
                        p За 3 вгаданих ранунки- бали помножуються на х5
                        p 4. Отримуй бали та можливість виграти призи.
                        p Чим більше балів, тим більше шансів здобути приз.
                        p Бали нараховуватимуться та відображатимуться в Турнірній таблиці.
                        p Після завершення кожного окремого періоду, переможці матимуть право отримати приз згідно із зайнятим призовим місцем.
                    .drop-txt-list._medium(data-translate="detailsHight")
                        // detailsEasy
                        // detailsMedium
                        // detailsHight
                        p 1. Як взяти участь?
                        p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                        p 2. Набір балів
                        p З 14.06.2024 до 14.07.2024 роби виграшні ставки на спортивні події в рамках Євро 2024 у розділах «Спорт» та «LIVE» заробляй бали в загальну турнірну таблицю.
                        p Ставки на спортивні події повинні бути від 200 грн, розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар), або від 3.5 (експрес від 3 подій), без використання «CashOut» та «Повернення ставки».
                        p 3.Вгадай точний рахунок топ-матчів етапу. Вгадай точний рахунок запропонованих топ-матчів та помнож свої бали в турнірній таблиці.
                        p За 1 вгаданий рахунок - бали помножуються на х2.
                        p За 2 вгаданих рахунки - бали помножуються на х3.
                        p За 3 вгаданих ранунки- бали помножуються на х5
                        p 4. Отримуй бали та можливість виграти призи.
                        p Чим більше балів, тим більше шансів здобути приз.
                        p Бали нараховуватимуться та відображатимуться в Турнірній таблиці.
                        p Після завершення кожного окремого періоду, переможці матимуть право отримати приз згідно із зайнятим призовим місцем.
                    .drop-txt-list._hight(data-translate="detailsMedium")
                        // detailsEasy
                        // detailsMedium
                        // detailsHight
                        p 1. Як взяти участь?
                        p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                        p 2. Набір балів
                        p З 14.06.2024 до 14.07.2024 роби виграшні ставки на спортивні події в рамках Євро 2024 у розділах «Спорт» та «LIVE» заробляй бали в загальну турнірну таблицю.
                        p Ставки на спортивні події повинні бути від 200 грн, розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар), або від 3.5 (експрес від 3 подій), без використання «CashOut» та «Повернення ставки».
                        p 3.Вгадай точний рахунок топ-матчів етапу. Вгадай точний рахунок запропонованих топ-матчів та помнож свої бали в турнірній таблиці.
                        p За 1 вгаданий рахунок - бали помножуються на х2.
                        p За 2 вгаданих рахунки - бали помножуються на х3.
                        p За 3 вгаданих ранунки- бали помножуються на х5
                        p 4. Отримуй бали та можливість виграти призи.
                        p Чим більше балів, тим більше шансів здобути приз.
                        p Бали нараховуватимуться та відображатимуться в Турнірній таблиці.
                        p Після завершення кожного окремого періоду, переможці матимуть право отримати приз згідно із зайнятим призовим місцем.
        .result__table
            .result__pers
                .result__pers-buble(data-translate="resultBuble") Більше виграшних ставок поспіль — більше бонус «Страховка ставки»
                picture.result__pers-img
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="./img/welcome/gladiator-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="./img/welcome/gladiator-desc.png")
                    source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="./img/welcome/gladiator-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="./img/welcome/gladiator-desc.png")
                    img(src="./img/welcome/gladiator-desc.png" alt="Favbet")
            .result__right._easy
                .result__top._easy
                    .result__top-title(data-translate="cardTitleEasy") новачок
                    .result__top-text(data-translate="cardText") Бонус <br> Страховка Ставки
                    .result__top-bonus(data-translate="cardBonusEasy") до 2500 ₴
                    .result__top-minbet(data-translate="cardMinbetEasy") Мінімальна ставка: від 150 ₴
                .result__top._medium
                    .result__top-title(data-translate="cardTitleMedium") на досвіді
                    .result__top-text(data-translate="cardText") Бонус <br> Страховка Ставки
                    .result__top-bonus(data-translate="cardBonusMedium") до 3000 ₴
                    .result__top-minbet(data-translate="cardMinbetMedium") Мінімальна ставка: від 300 ₴
                .result__top._hight
                    .result__top-title(data-translate="cardTitleHight") божевільний
                    .result__top-text(data-translate="cardText") Бонус <br> Страховка Ставки
                    .result__top-bonus(data-translate="cardBonusHight") до 6000 ₴
                    .result__top-minbet(data-translate="cardMinbetHight") Мінімальна ставка: від 600 ₴
                .result__bets
                    .result__bets-item._fail
                        .result__bets-text #[span(data-translate="resultBet") ставка ] 1
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") ти
                    .result__bets-item._done
                        .result__bets-text #[span(data-translate="resultBet") ставка ] 2
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") ти
                    .result__bets-item.you
                        .result__bets-text #[span(data-translate="resultBet") ставка ] 3
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") ти
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") ставка ] 4
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") ти
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") ставка ] 5
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") ти
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") ставка ] 6
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") ти
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") ставка ] 7
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") ти
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") ставка ] 8
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") ти
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") ставка ] 9
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") ти
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") ставка ] 10
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") ти
                //a(href="#").result__btn.btn.part-btn.hide #[span.btn-txt(data-translate="partBtn") взяти участь]
                a(href="/sports/sport/soccer").result__btn.btn.btn-join.hide #[span.btn-txt(data-translate="mainBtn") до гри]
                a(href="/login").result__btn.btn.unauth-msg.hide #[span.btn-txt(data-translate="signBtn") авторизуватися]
            .result__last-upd #[span(data-translate='resultUpd') Твоя шкала оновилась ] 21.01 о 16:30
        .drop
            details.dropdown
                summary(data-translate="mySpins") Історія зарахованих ставок
                .drop-txt
                    .drop-txt-list.my-spins
                        .spins-row
                            .spins-row-head
                                .content-date(data-translate="myBetDate") Дата
                                .content-prize(data-translate="myBetPrize") Ставка
                            .spins-row-item #[span.content-date 18.09] #[span.content-prize Виграшна ставка ]
                            .spins-row-item #[span.content-date 18.09] #[span.content-prize Програшна ставка ]
                            .spins-row-item #[span.content-date 18.09] #[span.content-prize Виграшна ставка ]
                        .no-spins.hide(data-translate="noBets")
    .notify
        .notify__pers._notify
            .notify__pers-buble #[span.notify__info.info-icon ] #[span(data-translate="notifyBuble") Пам'ятай: в тебе одне право на помилку]
            .notify__pers-img
                picture
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="./img/notify/zeus-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="./img/notify/zeus.png")
                    source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="./img/notify/zeus.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="./img/notify/zeus.png")
                    img(src="./img/notify/zeus.png" alt="Favbet")
        .notify__cup
            .notify__cup-img
                picture
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="./img/notify/cup-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="./img/notify/cup.png")
                    source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="./img/notify/cup.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="./img/notify/cup.png")
                    img(src="./img/notify/cup.png" alt="Favbet")
    .drop
        details.dropdown
            summary(data-translate="rulseBtn") Офіційні правила
            .drop-txt
                .drop-txt-list(data-translate="rules")
                    p 1. Як взяти участь?
                    p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                    p 2. Набір балів
                    p З 14.06.2024 до 14.07.2024 роби виграшні ставки на спортивні події в рамках Євро 2024 у розділах «Спорт» та «LIVE» заробляй бали в загальну турнірну таблицю.
                    p Ставки на спортивні події повинні бути від 200 грн, розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар), або від 3.5 (експрес від 3 подій), без використання «CashOut» та «Повернення ставки».
                    p 3.Вгадай точний рахунок топ-матчів етапу. Вгадай точний рахунок запропонованих топ-матчів та помнож свої бали в турнірній таблиці.
                    p За 1 вгаданий рахунок - бали помножуються на х2.
                    p За 2 вгаданих рахунки - бали помножуються на х3.
                    p За 3 вгаданих ранунки- бали помножуються на х5
                    p 4. Отримуй бали та можливість виграти призи.
                    p Чим більше балів, тим більше шансів здобути приз.
                    p Бали нараховуватимуться та відображатимуться в Турнірній таблиці.
                    p Після завершення кожного окремого періоду, переможці матимуть право отримати приз згідно із зайнятим призовим місцем.
    .popup._opacity
        .popup__item._easy
            .popup__close
            .popup__scroll
                .popup__text(data-translate="popupCardEasy")
                    p 1.Роби від 3х до 10 виграшних ставок поспіль (виключно типу «Ординар») на футбольні події  розділів «Спорт» та «LIVE».
                    p Вимоги до ставок на рівні «Новачок»:
                    p 1 Мінімальна ставка від 150 ₴.
                    p 2 Коефіцієнт від 1.6.
                    p 3 Враховується одна ставка в рамках однієї події. Розрахунок починається з першої виграшної ставки.
                    p 2.Чим більше виграшних ставок поспіль, тим більше бонус «Страховка ставки». Деталі в офіційних правилах.
                    p 1.Роби від 3х до 10 виграшних ставок поспіль (виключно типу «Ординар») на футбольні події  розділів «Спорт» та «LIVE».
                    p Вимоги до ставок на рівні «Новачок»:
                    p 1 Мінімальна ставка від 150 ₴.
                    p 2 Коефіцієнт від 1.6.
                    p 3 Враховується одна ставка в рамках однієї події. Розрахунок починається з першої виграшної ставки.
                    p 2.Чим більше виграшних ставок поспіль, тим більше бонус «Страховка ставки». Деталі в офіційних правилах.
        .popup__item._medium
            .popup__close
            .popup__scroll
                .popup__text(data-translate="popupCardMedium")
                    p 1.Роби від 3х до 10 виграшних ставок поспіль (виключно типу «Ординар») на футбольні події  розділів «Спорт» та «LIVE».
                    p Вимоги до ставок на рівні «Новачок»:
                    p 1 Мінімальна ставка від 150 ₴.
                    p 2 Коефіцієнт від 1.6.
                    p 3 Враховується одна ставка в рамках однієї події. Розрахунок починається з першої виграшної ставки.
                    p 2.Чим більше виграшних ставок поспіль, тим більше бонус «Страховка ставки». Деталі в офіційних правилах.
                    p 1.Роби від 3х до 10 виграшних ставок поспіль (виключно типу «Ординар») на футбольні події  розділів «Спорт» та «LIVE».
                    p Вимоги до ставок на рівні «Новачок»:
                    p 1 Мінімальна ставка від 150 ₴.
                    p 2 Коефіцієнт від 1.6.
                    p 3 Враховується одна ставка в рамках однієї події. Розрахунок починається з першої виграшної ставки.
                    p 2.Чим більше виграшних ставок поспіль, тим більше бонус «Страховка ставки». Деталі в офіційних правилах.
        .popup__item._hight
            .popup__close
            .popup__scroll
                .popup__text(data-translate="popupCardHight")
                    p 1.Роби від 3х до 10 виграшних ставок поспіль (виключно типу «Ординар») на футбольні події  розділів «Спорт» та «LIVE».
                    p Вимоги до ставок на рівні «Новачок»:
                    p 1 Мінімальна ставка від 150 ₴.
                    p 2 Коефіцієнт від 1.6.
                    p 3 Враховується одна ставка в рамках однієї події. Розрахунок починається з першої виграшної ставки.
                    p 2.Чим більше виграшних ставок поспіль, тим більше бонус «Страховка ставки». Деталі в офіційних правилах.
                    p 1.Роби від 3х до 10 виграшних ставок поспіль (виключно типу «Ординар») на футбольні події  розділів «Спорт» та «LIVE».
                    p Вимоги до ставок на рівні «Новачок»:
                    p 1 Мінімальна ставка від 150 ₴.
                    p 2 Коефіцієнт від 1.6.
                    p 3 Враховується одна ставка в рамках однієї події. Розрахунок починається з першої виграшної ставки.
                    p 2.Чим більше виграшних ставок поспіль, тим більше бонус «Страховка ставки». Деталі в офіційних правилах.
        .popup__item._notify
            .popup__close
            .popup__scroll
                .popup__text(data-translate="popupNotify")
                    p Під “правом на помилку” розуміється  — це ставка розрахована з результатом «Програш» або така, що має ознаку «Cash Out».