button.menu-btn menu
.menu-test
    button.easy-btn easy
    button.medium-btn medium
    button.hight-btn hight
    button.lng-btn lng
    button.auth-btn auth
    button.dark-btn dark
.fav-page.loading#football-challenge
    .spinner-overlay
        .spinner
    .welcome
        .welcome__left
            .welcome__subtitle(data-translate="welcomeSubtitle") &#8203;
            .welcome__text(data-translate="welcomeText") &#8203;
            a(href="/login/").welcome__btn.btn.unauth-msg.hide #[span.btn-txt(data-translate="signBtn") &#8203;]
            .welcome__btn.btn.part-btn.hide.toChose #[span.btn-txt(data-translate="partBtn") &#8203;]
            a(href="/sports/sport/soccer/?utm_source=retention&utm_medium=promo&utm_campaign=promo_football_challenge&utm_id=promo_football_challenge&utm_content=button").welcome__btn.btn.btn-join.hide #[span.btn-txt(data-translate="mainBtn") &#8203;]
        .welcome__right
            .welcome__lock
                .welcome__lock-left
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/zeus-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/zeus-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/zeus-mob.png")
                        source(media="(max-width: 1050px) and (orientation: landscape) and (max-height: 800px)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/zeus-mob.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/zeus-desc.png")
                        img(src="https://fav-prom.com/html/football-challange-2/img/welcome/zeus-desc.png" alt="Favbet" loading="lazy")
                .welcome__lock-center
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/gladiator-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/gladiator-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/gladiator-mob.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/gladiator-desc.png")
                        img(src="https://fav-prom.com/html/football-challange-2/img/welcome/gladiator-desc.png" alt="Favbet" loading="lazy")
                .welcome__lock-right
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/kratos-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/kratos-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/kratos-mob.png")
                        source(media="(max-width: 1050px) and (orientation: landscape) and (max-height: 800px)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/kratos-mob.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/kratos-desc.png")
                        img(src="https://fav-prom.com/html/football-challange-2/img/welcome/kratos-desc.png" alt="Favbet" loading="lazy")
            .welcome__open
                .welcome__open-left
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/kratos-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/kratos-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/kratos-mob.png")
                        source(media="(max-width: 1050px) and (orientation: landscape) and (max-height: 800px)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/kratos-mob.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/kratos-desc.png")
                        img(src="https://fav-prom.com/html/football-challange-2/img/welcome/kratos-desc.png" alt="Favbet" loading="lazy")
                .welcome__open-center
                        .welcome__list
                            .welcome__card._easy.card
                                .welcome__card-selected(data-translate="cardSelected") &#8203;
                                .welcome__card-amount(data-translate="cardAmountEasy") &#8203;
                                .welcome__card-title(data-translate="cardTitleEasy") &#8203;
                                .welcome__card-text(data-translate="cardText") &#8203;
                                .welcome__card-bonus #[span(data-translate="cardBonusEasy") &#8203;]
                                .welcome__card-minbet(data-translate="cardMinbetEasy") &#8203;
                            .welcome__card._medium.card
                                .welcome__card-selected(data-translate="cardSelected") &#8203;
                                .welcome__card-amount(data-translate="cardAmountMedium") &#8203;
                                .welcome__card-title(data-translate="cardTitleMedium") &#8203;
                                .welcome__card-text(data-translate="cardText") &#8203;
                                .welcome__card-bonus #[span(data-translate="cardBonusMedium") &#8203;]
                                .welcome__card-minbet(data-translate="cardMinbetMedium") &#8203;
                            .welcome__card._hight.card
                                .welcome__card-selected(data-translate="cardSelected") &#8203;
                                .welcome__card-amount(data-translate="cardAmountHight") &#8203;
                                .welcome__card-title(data-translate="cardTitleHight") &#8203;
                                .welcome__card-text(data-translate="cardText") &#8203;
                                .welcome__card-bonus #[span(data-translate="cardBonusHight") &#8203;]
                                .welcome__card-minbet(data-translate="cardMinbetHight") &#8203;
                .welcome__open-right
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/zeus-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/zeus-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/zeus-mob.png")
                        source(media="(max-width: 1050px) and (orientation: landscape) and (max-height: 800px)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/zeus-mob.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/zeus-desc.png")
                        img(src="https://fav-prom.com/html/football-challange-2/img/welcome/zeus-desc.png" alt="Favbet" loading="lazy")
            .welcome__timer
                .welcome__timer-title(data-translate="welcomeTimerTitle") &#8203;
                .welcome__timer-list
                    .welcome__timer-item
                        .welcome__timer-item-num
                        .welcome__timer-item-text(data-translate="days") &#8203;
                    .welcome__timer-item
                        .welcome__timer-item-num
                        .welcome__timer-item-text(data-translate="hours") &#8203;
                    .welcome__timer-item
                        .welcome__timer-item-num
                        .welcome__timer-item-text(data-translate="minutes") &#8203;
                    .welcome__timer-item
                        .welcome__timer-item-num
                        .welcome__timer-item-text(data-translate="seconds") &#8203;
    .chose#chose
        .chose__title(data-translate="choseTitle") &#8203;
        .chose__subtitle(data-translate="choseSubtitle") &#8203;
        .chose__body
            .chose__pers
                .chose__pers-buble(data-translate="choseBuble") &#8203;
                picture.chose__pers-img
                    source(media="(max-width: 710px)" srcset="https://fav-prom.com/html/football-challange-2/img/chose/pers-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/football-challange-2/img/chose/pers-desc.png")
                    source(media="(min-width: 711px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/chose/pers-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/football-challange-2/img/chose/pers-desc.png")
                    img(src="https://fav-prom.com/html/football-challange-2/img/chose/pers-desc.png" alt="Favbet" loading="lazy")
            .chose__list
                .chose__card._easy.card
                    .chose__card-amount(data-translate="cardAmountEasy") &#8203;
                    .chose__card-title(data-translate="cardTitleEasy") &#8203;
                    .chose__card-text(data-translate="cardText") &#8203;
                    .chose__card-bonus #[span(data-translate="cardBonusEasy") &#8203;]
                    .chose__card-minbet(data-translate="cardMinbetEasy") &#8203;
                    .chose__card-btn.btn.part-btn.hide  #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="cardBtnEasy") &#8203;]
                    a(href="/login/").chose__card-btn.btn.unauth-msg.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="signBtn") &#8203;]
                    //.chose__card-btn.btn.part-btn.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="partBtn")]
                .chose__card._medium.card
                    .chose__card-amount(data-translate="cardAmountMedium") &#8203;
                    .chose__card-title(data-translate="cardTitleMedium") &#8203;
                    .chose__card-text(data-translate="cardText") &#8203;
                    .chose__card-bonus #[span(data-translate="cardBonusMedium") &#8203;]
                    .chose__card-minbet(data-translate="cardMinbetMedium") &#8203;
                    .chose__card-btn.btn.part-btn.hide  #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="cardBtnMedium") &#8203;]
                    a(href="/login/").chose__card-btn.btn.unauth-msg.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="signBtn") &#8203;]
                    //.chose__card-btn.btn.part-btn.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="partBtn")]
                .chose__card._hight.card
                    .chose__card-amount(data-translate="cardAmountHight") &#8203;
                    .chose__card-title(data-translate="cardTitleHight") &#8203;
                    .chose__card-text(data-translate="cardText") &#8203;
                    .chose__card-bonus #[span(data-translate="cardBonusHight") &#8203;]
                    .chose__card-minbet(data-translate="cardMinbetHight") &#8203;
                    .chose__card-btn.btn.part-btn.hide  #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="cardBtnHight") &#8203;]
                    a(href="/login/").chose__card-btn.btn.unauth-msg.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="signBtn") &#8203;]
                    //.chose__card-btn.btn.part-btn.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="partBtn") взяти участь]
    .result
        .result__text(data-translate="resultText").
        .drop
            details.dropdown
                summary(data-translate="detailsBtn") &#8203;
                .drop-txt
                    .drop-txt-list._easy(data-translate="detailsEasy") &#8203;
                    .drop-txt-list._medium(data-translate="detailsHight") &#8203;
                    .drop-txt-list._hight(data-translate="detailsMedium") &#8203;
        .result__table
            .result__pers
                .result__pers-buble(data-translate="resultBuble") &#8203;
                picture.result__pers-img
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/gladiator-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/gladiator-desc.png")
                    source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/gladiator-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/football-challange-2/img/welcome/gladiator-desc.png")
                    img(src="https://fav-prom.com/html/football-challange-2/img/welcome/gladiator-desc.png" alt="Favbet" loading="lazy")
            .result__right._easy
                .result__top._easy
                    .result__top-amount(data-translate="cardAmountEasy") &#8203;
                    .result__top-title(data-translate="cardTitleEasy") &#8203;
                    .result__top-text(data-translate="cardText") &#8203;
                    .result__top-bonus(data-translate="cardBonusEasy") &#8203;
                    .result__top-minbet(data-translate="cardMinbetEasy") &#8203;
                .result__top._medium
                    .result__top-amount(data-translate="cardAmountMedium") &#8203;
                    .result__top-title(data-translate="cardTitleMedium") &#8203;
                    .result__top-text(data-translate="cardText") &#8203;
                    .result__top-bonus(data-translate="cardBonusMedium") &#8203;
                    .result__top-minbet(data-translate="cardMinbetMedium") &#8203;
                .result__top._hight
                    .result__top-amount(data-translate="cardAmountHight") &#8203;
                    .result__top-title(data-translate="cardTitleHight") &#8203;
                    .result__top-text(data-translate="cardText") &#8203;
                    .result__top-bonus(data-translate="cardBonusHight") &#8203;
                    .result__top-minbet(data-translate="cardMinbetHight") &#8203;
                .result__bets
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") &#8203;] 1
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") &#8203;
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") &#8203;] 2
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") &#8203;
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") &#8203;] 3
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") &#8203;
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet")] 4
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") &#8203;
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") &#8203;] 5
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") &#8203;
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") &#8203;] 6
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") &#8203;
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") &#8203;] 7
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") &#8203;
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") &#8203;] 8
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") &#8203;
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") &#8203;] 9
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") &#8203;
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet") &#8203;] 10
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you") &#8203;
                //a(href="#").result__btn.btn.part-btn.hide #[span.btn-txt(data-translate="partBtn")]
                a(href="/sports/sport/soccer/?utm_source=retention&utm_medium=promo&utm_campaign=promo_football_challenge&utm_id=promo_football_challenge&utm_content=button").result__btn.btn.btn-join.hide #[span.btn-txt(data-translate="mainBtn") &#8203;]
                a(href="/login/").result__btn.btn.unauth-msg.hide #[span.btn-txt(data-translate="signBtn") &#8203;]
            .result__last-upd #[span(data-translate='resultUpd') &#8203;] #[span#lastUpd - 21.02.2025]
        .drop
            details.dropdown
                summary(data-translate="mySpins") &#8203;
                .drop-txt
                    .drop-txt-list.my-spins
                        .spins-row
                            .spins-row-head
                                .content-date(data-translate="myBetDate") &#8203;
                                .content-prize(data-translate="myBetPrize") &#8203;
                                .content-status(data-translate="myBetStatus") &#8203;
                        .no-spins.hide(data-translate="noBets") &#8203;
        .drop._table
            details.dropdown
                summary(data-translate="tableBtn") &#8203;
                .table
                    .table__head
                        .table__column(data-translate="tablePlace") &#8203;
                        .table__column(data-translate="tableId") &#8203;
                        .table__column(data-translate="tableBet") &#8203;
                    .table__you#tableOther
                    .table__scroll#table
                        .table__body

    .notify
        .notify__pers._notify
            .notify__pers-buble #[span.notify__info.info-icon ] #[span(data-translate="notifyBuble") &#8203;]
            .notify__pers-img
                picture
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/notify/zeus-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/football-challange-2/img/notify/zeus.png")
                    source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/notify/zeus.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/football-challange-2/img/notify/zeus.png")
                    img(src="https://fav-prom.com/html/football-challange-2/img/notify/zeus.png" alt="Favbet" loading="lazy")
        .notify__cup
            .notify__cup-img
                picture
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/notify/cup-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/football-challange-2/img/notify/cup.png")
                    source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/football-challange-2/img/notify/cup.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/football-challange-2/img/notify/cup.png")
                    img(src="https://fav-prom.com/html/football-challange-2/img/notify/cup.png" alt="Favbet" loading="lazy")
    .drop
        .drop__bottom-text(data-translate="welcomeBottom") &#8203;
        details.dropdown
            summary(data-translate="rulseBtn") &#8203;
            .drop-txt
                .drop-txt-list(data-translate="rules") &#8203;
    .popup._opacity
        .popup__item._easy
            .popup__close
            .popup__scroll
                .popup__text(data-translate="popupCardEasy") &#8203;
        .popup__item._medium
            .popup__close
            .popup__scroll
                .popup__text(data-translate="popupCardMedium") &#8203;
        .popup__item._hight
            .popup__close
            .popup__scroll
                .popup__text(data-translate="popupCardHight") &#8203;
        .popup__item._notify
            .popup__close
            .popup__scroll
                .popup__text(data-translate="popupNotify") &#8203;
