button.menu-btn menu
.menu-test
    button.easy-btn easy
    button.medium-btn medium
    button.hight-btn hight
    button.auth-btn auth
    button.lng-btn lng
    button.dark-btn dark
.fav-page#football-challenge
    .welcome
        .welcome__left
            //.welcome__title(data-translate="welcomeTitle")
            .welcome__subtitle(data-translate="welcomeSubtitle")
            .welcome__text(data-translate="welcomeText")
            a(href="/login/?utm_source=retention&utm_medium=promo&utm_campaign=Football_challenge_log_in&utm_id=Football_challenge_log_in").welcome__btn.btn.unauth-msg #[span.btn-txt(data-translate="signBtn")]
            .welcome__btn.btn.part-btn.hide.toChose #[span.btn-txt(data-translate="partBtn")]
            a(href="/sports/sport/soccer/?utm_source=retention&utm_medium=promo&utm_campaign=Football_challenge&utm_id=Football_challenge").welcome__btn.btn.btn-join.hide #[span.btn-txt(data-translate="mainBtn")]
            //.welcome__scroll.toChose
            //    .welcome__scroll-left #[span.welcome__scroll-left-icon] #[span.welcome__scroll-left-text(data-translate="welcomeScroll")]
            //    .welcome__scroll-right #[span.welcome__scroll-right-arrow] #[span.welcome__scroll-right-cursor]
        .welcome__right
            .welcome__lock
                .welcome__lock-left
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/welcome/zeus-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/welcome/zeus-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/welcome/zeus-mob.png")
                        source(media="(max-width: 1050px) and (orientation: landscape) and (max-height: 800px)" srcset="img/welcome/zeus-mob.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/welcome/zeus-desc.png")
                        img(src="img/welcome/zeus-desc.png" alt="Favbet")
                .welcome__lock-center
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/welcome/gladiator-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/welcome/gladiator-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/welcome/gladiator-mob.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/welcome/gladiator-desc.png")
                        img(src="img/welcome/gladiator-desc.png" alt="Favbet")
                .welcome__lock-right
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/welcome/kratos-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/welcome/kratos-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/welcome/kratos-mob.png")
                        source(media="(max-width: 1050px) and (orientation: landscape) and (max-height: 800px)" srcset="img/welcome/kratos-mob.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/welcome/kratos-desc.png")
                        img(src="img/welcome/kratos-desc.png" alt="Favbet")
            .welcome__open
                .welcome__open-left
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/welcome/kratos-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/welcome/kratos-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/welcome/kratos-mob.png")
                        source(media="(max-width: 1050px) and (orientation: landscape) and (max-height: 800px)" srcset="img/welcome/kratos-mob.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/welcome/kratos-desc.png")
                        img(src="img/welcome/kratos-desc.png" alt="Favbet")
                .welcome__open-center
                        .welcome__list
                            .welcome__card._easy.card
                                .welcome__card-selected(data-translate="cardSelected")
                                .welcome__card-amount(data-translate="cardAmountEasy")
                                .welcome__card-title(data-translate="cardTitleEasy")
                                .welcome__card-text(data-translate="cardText")
                                .welcome__card-bonus #[span(data-translate="cardBonusEasy")]
                                .welcome__card-minbet(data-translate="cardMinbetEasy")
                            .welcome__card._medium.card
                                .welcome__card-selected(data-translate="cardSelected")
                                .welcome__card-amount(data-translate="cardAmountMedium")
                                .welcome__card-title(data-translate="cardTitleMedium")
                                .welcome__card-text(data-translate="cardText")
                                .welcome__card-bonus #[span(data-translate="cardBonusMedium")]
                                .welcome__card-minbet(data-translate="cardMinbetMedium")
                            .welcome__card._hight.card
                                .welcome__card-selected(data-translate="cardSelected")
                                .welcome__card-amount(data-translate="cardAmountHight")
                                .welcome__card-title(data-translate="cardTitleHight")
                                .welcome__card-text(data-translate="cardText")
                                .welcome__card-bonus #[span(data-translate="cardBonusHight")]
                                .welcome__card-minbet(data-translate="cardMinbetHight")
                .welcome__open-right
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/welcome/zeus-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/welcome/zeus-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/welcome/zeus-mob.png")
                        source(media="(max-width: 1050px) and (orientation: landscape) and (max-height: 800px)" srcset="img/welcome/zeus-mob.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/welcome/zeus-desc.png")
                        img(src="img/welcome/zeus-desc.png" alt="Favbet")
            .welcome__timer
                .welcome__timer-title(data-translate="welcomeTimerTitle")
                .welcome__timer-list
                    .welcome__timer-item
                        .welcome__timer-item-num
                        .welcome__timer-item-text(data-translate="days")
                    .welcome__timer-item
                        .welcome__timer-item-num
                        .welcome__timer-item-text(data-translate="hours")
                    .welcome__timer-item
                        .welcome__timer-item-num
                        .welcome__timer-item-text(data-translate="minutes")
                    .welcome__timer-item
                        .welcome__timer-item-num
                        .welcome__timer-item-text(data-translate="seconds")
    .chose#chose
        .chose__title(data-translate="choseTitle")
        .chose__subtitle(data-translate="choseSubtitle")
        .chose__body
            .chose__pers
                .chose__pers-buble(data-translate="choseBuble")
                picture.chose__pers-img
                    source(media="(max-width: 710px)" srcset="img/chose/pers-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/chose/pers-desc.png")
                    source(media="(min-width: 711px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/chose/pers-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/chose/pers-desc.png")
                    img(src="img/chose/pers-desc.png" alt="Favbet")
            .chose__list
                .chose__card._easy.card
                    .chose__card-amount(data-translate="cardAmountEasy")
                    .chose__card-title(data-translate="cardTitleEasy")
                    .chose__card-text(data-translate="cardText")
                    .chose__card-bonus #[span(data-translate="cardBonusEasy")]
                    .chose__card-minbet(data-translate="cardMinbetEasy")
                    .chose__card-btn.btn.part-btn.hide  #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="cardBtnEasy")]
                    a(href="/login/?utm_source=retention&utm_medium=promo&utm_campaign=Football_challenge_log_in&utm_id=Football_challenge_log_in").chose__card-btn.btn.unauth-msg.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="signBtn")]
                    //.chose__card-btn.btn.part-btn.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="partBtn")]
                .chose__card._medium.card
                    .chose__card-amount(data-translate="cardAmountMedium")
                    .chose__card-title(data-translate="cardTitleMedium")
                    .chose__card-text(data-translate="cardText")
                    .chose__card-bonus #[span(data-translate="cardBonusMedium")]
                    .chose__card-minbet(data-translate="cardMinbetMedium")
                    .chose__card-btn.btn.part-btn.hide  #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="cardBtnMedium")]
                    a(href="/login/?utm_source=retention&utm_medium=promo&utm_campaign=Football_challenge_log_in&utm_id=Football_challenge_log_in").chose__card-btn.btn.unauth-msg.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="signBtn")]
                    //.chose__card-btn.btn.part-btn.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="partBtn")]
                .chose__card._hight.card
                    .chose__card-amount(data-translate="cardAmountHight")
                    .chose__card-title(data-translate="cardTitleHight")
                    .chose__card-text(data-translate="cardText")
                    .chose__card-bonus #[span(data-translate="cardBonusHight")]
                    .chose__card-minbet(data-translate="cardMinbetHight")
                    .chose__card-btn.btn.part-btn.hide  #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="cardBtnHight")]
                    a(href="/login/?utm_source=retention&utm_medium=promo&utm_campaign=Football_challenge_log_in&utm_id=Football_challenge_log_in").chose__card-btn.btn.unauth-msg.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="signBtn")]
                    //.chose__card-btn.btn.part-btn.hide #[span.chose__card-info.info-icon] #[span.btn-txt(data-translate="partBtn") взяти участь]
    .result
        .result__text(data-translate="resultText").
        .drop
            details.dropdown
                summary(data-translate="detailsBtn") Деталі
                .drop-txt
                    .drop-txt-list._easy(data-translate="detailsEasy")
                    .drop-txt-list._medium(data-translate="detailsHight")
                    .drop-txt-list._hight(data-translate="detailsMedium")
        .result__table
            .result__pers
                .result__pers-buble(data-translate="resultBuble")
                picture.result__pers-img
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/welcome/gladiator-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/welcome/gladiator-desc.png")
                    source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/welcome/gladiator-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/welcome/gladiator-desc.png")
                    img(src="img/welcome/gladiator-desc.png" alt="Favbet")
            .result__right._easy
                .result__top._easy
                    .result__top-amount(data-translate="cardAmountEasy")
                    .result__top-title(data-translate="cardTitleEasy")
                    .result__top-text(data-translate="cardText")
                    .result__top-bonus(data-translate="cardBonusEasy")
                    .result__top-minbet(data-translate="cardMinbetEasy")
                .result__top._medium
                    .result__top-amount(data-translate="cardAmountMedium")
                    .result__top-title(data-translate="cardTitleMedium")
                    .result__top-text(data-translate="cardText")
                    .result__top-bonus(data-translate="cardBonusMedium")
                    .result__top-minbet(data-translate="cardMinbetMedium")
                .result__top._hight
                    .result__top-amount(data-translate="cardAmountHight")
                    .result__top-title(data-translate="cardTitleHight")
                    .result__top-text(data-translate="cardText")
                    .result__top-bonus(data-translate="cardBonusHight")
                    .result__top-minbet(data-translate="cardMinbetHight")
                .result__bets
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet")] 1
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you")
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet")] 2
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you")
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet")] 3
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you")
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet")] 4
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you")
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet")] 5
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you")
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet")] 6
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you")
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet")] 7
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you")
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet")] 8
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you")
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet")] 9
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you")
                    .result__bets-item
                        .result__bets-text #[span(data-translate="resultBet")] 10
                        .result__bets-status
                        .result__bets-icon
                            .result__bets-you(data-translate="you")
                //a(href="#").result__btn.btn.part-btn.hide #[span.btn-txt(data-translate="partBtn")]
                a(href="/sports/sport/soccer/?utm_source=retention&utm_medium=promo&utm_campaign=Football_challenge&utm_id=Football_challenge").result__btn.btn.btn-join.hide #[span.btn-txt(data-translate="mainBtn")]
                a(href="/login/?utm_source=retention&utm_medium=promo&utm_campaign=Football_challenge_log_in&utm_id=Football_challenge_log_in").result__btn.btn.unauth-msg.hide #[span.btn-txt(data-translate="signBtn")]
            .result__last-upd #[span(data-translate='resultUpd')] #[span#lastUpd - 21.02.2025]
        .drop
            details.dropdown
                summary(data-translate="mySpins")
                .drop-txt
                    .drop-txt-list.my-spins
                        .spins-row
                            .spins-row-head
                                .content-date(data-translate="myBetDate")
                                .content-prize(data-translate="myBetPrize")
                                .content-status(data-translate="myBetStatus")
                            .spins-row-item
                                span.content-date 18.04
                                span.content-prize ID: 388310247
                                span.content-status
                            .spins-row-item
                                span.content-date 18.04
                                span.content-prize ID: 388310247
                                span.content-status
                            .spins-row-item
                                span.content-date 18.04
                                span.content-prize ID: 388310247
                                span.content-status
                            .spins-row-item
                                span.content-date 18.04
                                span.content-prize ID: 388310247
                                span.content-status
                            .spins-row-item
                                span.content-date 18.04
                                span.content-prize ID: 388310247
                                span.content-status
                            .spins-row-item
                                span.content-date 18.04
                                span.content-prize ID: 388310247
                                span.content-status
                            .spins-row-item
                                span.content-date 18.04
                                span.content-prize ID: 388310247
                                span.content-status
                            .spins-row-item
                                span.content-date 18.04
                                span.content-prize ID: 388310247
                                span.content-status
                            .spins-row-item
                                span.content-date 18.04
                                span.content-prize ID: 388310247
                                span.content-status._done
                            .spins-row-item
                                span.content-date 18.04
                                span.content-prize ID: 388310247
                                span.content-status._done
                            .spins-row-item
                                span.content-date 18.04
                                span.content-prize ID: 388310247
                                span.content-status
                        .no-spins.hide(data-translate="noBets")
        .drop._table
            details.dropdown
                summary(data-translate="tableBtn")
                .table
                    .table__head
                        .table__column(data-translate="tablePlace")
                        .table__column(data-translate="tableId")
                        .table__column(data-translate="tableBet")
                    .table__you#tableOther
                    .table__scroll#table
                        .table__body
                            .table__row
                                .table__row-item 1
                                .table__row-item 100300268
                                .table__row-item 5
                            .table__row
                                .table__row-item 2
                                .table__row-item 100300268
                                .table__row-item 5

                            .table__row
                                .table__row-item 3
                                .table__row-item 100300268
                                .table__row-item 5

                            .table__row
                                .table__row-item 4
                                .table__row-item 100300268
                                .table__row-item 5

                            .table__row
                                .table__row-item 1
                                .table__row-item 100300268
                                .table__row-item 5

                            .table__row
                                .table__row-item 5
                                .table__row-item 100300268
                                .table__row-item 5

                            .table__row
                                .table__row-item 6
                                .table__row-item 100300268
                                .table__row-item 5

                            .table__row
                                .table__row-item 7
                                .table__row-item 100300268
                                .table__row-item 5
                            .table__row
                                .table__row-item 8
                                .table__row-item 100300268
                                .table__row-item 5

                            .table__row
                                .table__row-item 9
                                .table__row-item 100300268
                                .table__row-item 5

                            .table__row
                                .table__row-item 10
                                .table__row-item 100300268
                                .table__row-item 5

                            .table__row
                                .table__row-item 11
                                .table__row-item 100300268
                                .table__row-item 5

                            .table__row
                                .table__row-item 12
                                .table__row-item 100300268
                                .table__row-item 5


    .notify
        .notify__pers._notify
            .notify__pers-buble #[span.notify__info.info-icon ] #[span(data-translate="notifyBuble")]
            .notify__pers-img
                picture
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/notify/zeus-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/notify/zeus.png")
                    source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/notify/zeus.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/notify/zeus.png")
                    img(src="img/notify/zeus.png" alt="Favbet")
        .notify__cup
            .notify__cup-img
                picture
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/notify/cup-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/notify/cup.png")
                    source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/notify/cup.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/notify/cup.png")
                    img(src="img/notify/cup.png" alt="Favbet")
    .drop
        .drop__bottom-text(data-translate="welcomeBottom")
        details.dropdown
            summary(data-translate="rulseBtn")
            .drop-txt
                .drop-txt-list(data-translate="rules")
    .popup._opacity
        .popup__item._easy
            .popup__close
            .popup__scroll
                .popup__text(data-translate="popupCardEasy")
        .popup__item._medium
            .popup__close
            .popup__scroll
                .popup__text(data-translate="popupCardMedium")
        .popup__item._hight
            .popup__close
            .popup__scroll
                .popup__text(data-translate="popupCardHight")
        .popup__item._notify
            .popup__close
            .popup__scroll
                .popup__text(data-translate="popupNotify")
